/*Сброс стилей */
html,
body {
  width: 100%; 
}
* {
  margin: 0;
  padding: 0;
}
/*Глобальные стили*/
*  {
box-sizing: border-box;
quotes: none;
}
/* Шрифт */
.body {
  color: #1F1E1E;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
}
/* Настройка основных контейнеров */
.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100em;
  padding-top: 147px;
  padding-bottom:70px;
  background-image:url("../assets/img/full-bg.jpg");
  background-size:cover
}
.container-full-screen{
  width: 100%;
  max-width: 1920px;
}
.container{
  width: 100%;
  max-width: 1414px;
  padding: 0 40px 0;
  margin: 0 auto;
}
.main {
  flex: 1 0 auto;
  margin-top: 100px;
}
.footer {
  flex: 0 0 auto;
}
/* Кнопки */
.btn {
  display: inline-block;
  outline: none;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
}
.btn--style-one {
  padding: 15px 40px;
  border: 1px solid #1F1E1E;
  background-color: transparent;
  color: #1F1E1E;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.btn:hover {
  background-color: #1F1E1E;
  color: #ffffff;
}
.btn--style-two{
  padding: 15px 40px;
  border: 1px solid #BC3324;
  background-color:#BC3324;
  color:#ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.btn--style-three{
  padding: 15px 23px;
  border: 1px solid #1F1E1E;
  background-color:#1F1E1E;
  color:#ffffff;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}
.btn--style-two:hover, .btn--style-three:hover{
  border-color: #A51505;
  background-color: #A51505;
;  
}
/* Шапка сайта */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.header__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header {
  background-color: rgba(222, 222, 222, 0.98);
}
@supports (backdrop-filter: blur(20px)) {
  .header {
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
  }
}
/*Логотип*/
.header__logo {
  flex-shrink: 0;
  width: 202px;
  height: 147px;
  font-size: 0;
  text-decoration: none;
}
.header__logo-icon {
  width: 100%;
  height: 100%;
}
.header__nav {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}
.header__nav-link {
  margin: 0 25px;
  color: #1f1e1e;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  transition: color 0.2s;
}
.header__nav-link:hover {
  color: #bc3324;
}
.header__right-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 202px;
}
/* Цитата */
.quote {
  display: grid;
  row-gap: 70px;
  grid-template-areas:
    "quote__heading"
    "quote__picture"
    "quote__text-itself";
  justify-items: center;
  margin-bottom: 100px;
}
.quote__heading{
  display: grid;
  grid-area: quote__heading;
  align-self: end;
  padding-left: 40px;
  padding-right: 40px;
}
.quote__picture{
  display: grid;
  grid-area: quote__picture;
}
.quote__picture img{
  width: 100%
}
.quote__text-itself{
  display: grid;
  grid-area: quote__text-itself;
  align-self: start;
  padding-left: 40px;
  padding-right: 40px;
}
.quote__text-itself q, .quote__heading h2{
  font-family: Lora;
  font-size: 45px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
/*Подвал*/
.footer{
  display: grid;
  grid-template-areas:
    "footer__nav footer__social-insta footer__social-vk footer__subcribe"
    "footer__copirait footer__social-insta footer__social-vk footer__design-info";
grid-template-columns: 1fr repeat(2, 0.5fr) 410px;
}
.footer__nav{
  display:grid;
  grid-area:footer__nav;
  margin-right:70px;
}
ul.footer__nav-link-list {
  list-style: none;
  border-left:4px solid #A51505;
  padding-left:26px;
  margin-bottom:60px;
}
ul.footer__nav-link-list li {
  padding-bottom:22px;
}
ul.footer__nav-link-list li:last-child {
  padding-bottom:0px;
}
.footer__link {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1F1E1E;
  text-decoration:none;
}
.footer__link:hover {
  color: #A51505;
}
.footer__social-insta{
  display:grid;
  grid-area:footer__social-insta;
  justify-self:end;
  align-self:end;
  margin-right:22px
}
.footer__social-vk{
  display:grid;
  grid-area:footer__social-vk;
  justify-self: start;
  align-self:end;
  margin-left:22px
}
.footer__subcribe{
  display:grid;
  grid-area:footer__subcribe;
}
.footer__subscribe h3{
  margin-bottom:14px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
}
input.footer-form__email-input {
  margin:0;
  width:275px;
  padding: 15px 23px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}
.footer__copirait{
  display:grid;
  grid-area:footer__copirait;
  margin-right:70px;
}
.footer__copirait-text{
  padding-bottom:20px;
}
.footer__cookies {
  display: flex;
  width:100%;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__design-info{
  display:grid;
  grid-area:footer__design-info;
  justify-self: end;
  align-self:end;
  background-image:url("assets/img/tagree.svg")
}


